<div class="contents_row">
  <div class="container">
    <h1>ようこそ！</h1>
    <h2>下記を入力して登録しましょう！</h2>
    <%= form_with model: @user, url: user_registration_path, class: 'new_user', local: true do |f| %>

      <div class="field">
        <%= f.label :メールアドレス, class: 'user_data' %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :名前, class: 'user_data' %><br/>
        <%= f.text_field :user_name, autofocus: true %>
      </div>
      <div class="field">
        <%= f.label :パスワード, class: 'user_data' %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="actions">
        <%= f.submit "ログイン" %>
      </div>
    <% end %>
  </div>
</div>