<div class="new_item_room">
  <div class="inner">
    <% if user_signed_in? %>
      <div class="page-head">新入荷商品</div>
      <form class="search-form" action="#">
        <input class='input-box' placeholder='キーワードから探す'>
        <button class="search-button">
          <%= image_tag "/images/search.png", class:"search-icon" %>
        </button>
      </form>
      <%= link_to "新商品登録", new_item_path, class: "new_item_btn" %>
      <div class="new_item_wrapper">
        <% @items.each do |item| %>
          <div class="new_item">
            <div class="arrival_day" >
              <%= item.arrival_day %>
            </div>
            <%= link_to item_path(item.id) do %>
              <%=  image_tag item.image, class: 'new_item_image' if item.image.attached? %>
              <div class="new_item_name">
                <%= item.name %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>