<div class="show_item_room1">
  <div class="show_item_room2">
    <div class="information_input">新商品の詳細</div>
    <%= image_tag @item.image, class: 'show_item_image' %>
    <div class="show_item_name">
      <%= @item.name %>
    </div>
    <table class="table">
      <tbody>
        <tr>
          <th class="show_item_table1">商品詳細</th>
          <td class="show_item_table2"><%= @item.text %></td>
        </tr>
        <tr>
          <th class="show_item_table1">在庫の有無</th>
          <td class="show_item_table2"><%= @item.stock.name %></td>
        </tr>
        <tr>
          <th class="show_item_table1">在庫場所</th>
          <td class="show_item_table2"><%= @item.storage_location %></td>
        </tr>
        <tr>
          <th class="show_item_table1">展開場所</th>
          <td class="show_item_table2"><%= @item.deployment %></td>
        </tr>
        <tr>
          <th class="show_item_table1">入荷日</th>
          <td class="show_item_table2"><%= @item.arrival_day %></td>
        </tr>
      </tbody>
    </table>
    <div class="verification_button">
      <div class="button">
        Webで確認
      </div>
      <div class="button">
        実際に確認
      </div>
    </div>
    <div class="edit_delete_button">
      <%= link_to "編集する", edit_item_path(@item.id), class:"edit_button" %>
      <%= link_to item_path(@item.id), method: :delete, class:"delete_button",data:
       { confirm: '本当に削除しますか？',
        cancel: 'やめる',
        commit: '削除'}, title: '削除の確認' do %>
        削除する
      <% end %>
    </div>
    <div class="registration_contents">
      <%=link_to 'もどる', root_path, class:"back_button" %>
    </div>
  </div>
</div>