<div class="show_item_room1">

  <div class="show_item_room2">
    <div class="information_input">新商品の詳細</div>
    <%= image_tag @item.image, class: 'show_item_image' %>
    <div class="show_item_name">
      <%= @item.name %>
    </div>
    <table class="table">
      <tbody>
        <tr>
          <th class="show_item_table1">商品詳細</th>
          <td class="show_item_table2"><%= @item.text %></td>
        </tr>
        <tr>
          <th class="show_item_table1">在庫の有無</th>
          <td class="show_item_table2"><%= @item.stock.name %></td>
        </tr>
        <tr>
          <th class="show_item_table1">在庫場所</th>
          <td class="show_item_table2"><%= @item.storage_location %></td>
        </tr>
        <tr>
          <th class="show_item_table1">展開場所</th>
          <td class="show_item_table2"><%= @item.deployment %></td>
        </tr>
        <tr>
          <th class="show_item_table1">入荷日</th>
          <td class="show_item_table2"><%= @item.arrival_day %></td>
        </tr>
      </tbody>
    </table>

    <% if user_signed_in? %>
      <div class="confirmation_room">
        <div class="confirmation_contents">
          <div class="button">
            <%# if @web_confirmation.present? %>
              <%# <div>・確認済</div> %>
            <%# else %>
              <%= link_to "・webで確認", item_web_confirmations_path(item_id: @item.id), method: :post, remote: true, id: @item.id, class: 'confirmation_button', id: "web_confirmed" %>
            <%# end %>
            <span style="cursor: hand; cursor:pointer;">  <!--マウスポインターの変更-->
              <div id="web_confirmed_list">・確認者リスト</div>
            </span>
          </div>
          <ul class="confirmed_lists hidden" id="web_pull_down">
            <% @web_confirmations.each do |f| %>
              <li class="pull_down_list" ><%= f.user.user_name %></li>
            <% end %>
          </ul>
        </div>
        <div class="confirmation_contents">
          <div class="button">
            <%# if @local_confirmation.present? %>
              <%# <div>・確認済</div> %>
            <%# else %>
              <%= link_to "・実際に確認", item_local_confirmations_path(item_id: @item.id), method: :post, remote: true, id: @item.id, class: 'confirmation_button', id: "local_confirmed" %>
            <%# end %>
            <span style="cursor: hand; cursor:pointer;">  <!--マウスポインターの変更-->
              <div id="local_confirmed_list">・確認者リスト</div>
            </span>
          </div>
          <ul class="confirmed_lists hidden" id="local_pull_down">
            <% @local_confirmations.each do |f| %>
              <li class="pull_down_list" ><%= f.user.user_name %></li>
            <% end %>
          </ul>
        </div>
      </div>

      <div class="edit_delete_button">
        <%= link_to "編集する", edit_item_path(@item.id), class:"edit_button" %>
        <%= link_to item_path(@item.id), method: :delete, class:"delete_button",data:
        { confirm: '本当に削除しますか？',
          cancel: 'やめる',
          commit: '削除'}, title: '削除の確認' do %>
          削除する
        <% end %>
      </div>
    <% end %>

    <div class="registration_contents">
      <%=link_to 'もどる', root_path, class:"back_button" %>
    </div>
  </div>
</div>